[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Terminal Emulator
Exec=exo-open --launch TerminalEmulator
Icon=/home/one/.config/tint2/icons/launchy/terminal.png
Terminal=false
StartupNotify=true
