[Desktop Entry]
Encoding=UTF-8
Name=Exit options
Name=Exit options
Name[am]=Exit options
Name[ar]=Exit options
Name[bg]=Exit options
Name[bn]=Exit options
Name[ca]=Exit options
Name[cs]=Možnosti ukončení
Name[da]=Exit options
Name[de]=Verlassen
Name[el]=Επιλογές εξόδου
Name[es]=Opciones de salida
Name[et]=Exit options
Name[eu]=Exit options
Name[fa]=Exit options
Name[fil_PH]=Exit options
Name[fi]=Exit options
Name[fr]=Options de sortie
Name[fr_BE]=Options de sortie
Name[he_IL]=Exit options
Name[hi]=Exit options
Name[hr]=Exit options
Name[hu]=Exit options
Name[id]=Exit options
Name[is]=Exit options
Name[it]=Opzioni di uscita
Name[ja]=終了時のオプション
Name[kk]=Exit options
Name[ko]=Exit options
Name[lt]=Exit options
Name[mk]=Exit options
Name[mr]=Exit options
Name[nb]=Utgangsmuligheter
Name[nl]=Uitstapmogelijkheden
Name[pl]=Opcje wyjścia
Name[pt]=Opções de saída
Name[pt_BR]=Opções de Sair da Sessão
Name[ro]=Exit options
Name[ru]=Варианты выхода
Name[sk]=Exit options
Name[sl]=Exit options
Name[sq]=Exit options
Name[sr]=Exit options
Name[sv]=Alternativ för att avsluta
Name[tr]=Çıkış seçenekleri
Name[uk]=Exit options
Name[vi]=Exit options
Name[zh_CN]=退出选项
Name[zh_TW]=Exit options
Comment=Ways to end the session
Comment[am]=Ways to end the session
Comment[ar]=Ways to end the session
Comment[bg]=Ways to end the session
Comment[bn]=Ways to end the session
Comment[ca]=Ways to end the session
Comment[cs]=Způsoby ukončení sezení
Comment[da]=Ways to end the session
Comment[de]=Optionen zur Beendigung der Sitzung
Comment[el]=Τρόποι λήξης της συνεδρίας
Comment[es]=Formas de terminar la sesión
Comment[et]=Ways to end the session
Comment[eu]=Ways to end the session
Comment[fa]=Ways to end the session
Comment[fil_PH]=Ways to end the session
Comment[fi]=Ways to end the session
Comment[fr]=Façons de terminer la session
Comment[fr_BE]=Façons de terminer la session
Comment[he_IL]=Ways to end the session
Comment[hi]=Ways to end the session
Comment[hr]=Ways to end the session
Comment[hu]=Ways to end the session
Comment[id]=Ways to end the session
Comment[is]=Ways to end the session
Comment[it]=Modi per concludere la sessione
Comment[ja]=セッションを終了する方法
Comment[kk]=Ways to end the session
Comment[ko]=Ways to end the session
Comment[lt]=Ways to end the session
Comment[mk]=Ways to end the session
Comment[mr]=Ways to end the session
Comment[nb]=Måter å avslutte økten på
Comment[nl]=Manieren om de sessie te beëindigen
Comment[pl]=Sposoby zakończenia sesji
Comment[pt]=Formas de terminar a sessão
Comment[pt_BR]=Permite diferentes opções para sair da sessão
Comment[ro]=Ways to end the session
Comment[ru]=Способы завершения сессии
Comment[sk]=Ways to end the session
Comment[sl]=Ways to end the session
Comment[sq]=Ways to end the session
Comment[sr]=Ways to end the session
Comment[sv]=Sätt att avsluta sessionen
Comment[tr]=Oturumu sonlandırmanın yolları
Comment[uk]=Ways to end the session
Comment[vi]=Ways to end the session
Comment[zh_CN]=结束会议的方法
Comment[zh_TW]=Ways to end the session
Exec=exit-options
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/24x24/apps/system-shutdown.svg
NotShowIn=XFCE;KDE;GNOME;MATE;
Categories=Accessories; 
NoDisplay=false
