[Desktop Entry]
Encoding=UTF-8
Name=Exit options
Name[am]=Exit options
Name[ar]=Exit options
Name[bg]=Exit options
Name[bn]=Exit options
Name[ca]=Exit options
Name[cs]=Exit options
Name[da]=Exit options
Name[de]=Exit options
Name[el]=Exit options
Name[es]=Exit options
Name[et]=Exit options
Name[eu]=Exit options
Name[fa]=Exit options
Name[fil_PH]=Exit options
Name[fi]=Exit options
Name[fr]=Exit options
Name[he_IL]=Exit options
Name[hi]=Exit options
Name[hr]=Exit options
Name[hu]=Exit options
Name[id]=Exit options
Name[is]=Exit options
Name[it]=Exit options
Name[ja]=Exit options
Name[kk]=Exit options
Name[ko]=Exit options
Name[lt]=Exit options
Name[mk]=Exit options
Name[mr]=Exit options
Name[nb]=Exit options
Name[nl]=Exit options
Name[pl]=Exit options
Name[pt_BR]=Exit options
Name[pt]=Exit options
Name[ro]=Exit options
Name[ru]=Exit options
Name[sk]=Exit options
Name[sl]=Exit options
Name[sq]=Exit options
Name[sr]=Exit options
Name[sv]=Exit options
Name[tr]=Exit options
Name[uk]=Exit options
Name[vi]=Exit options
Name[zh_CN]=Exit options
Name[zh_TW]=Exit options
Comment=Display of ways to end session
Comment[am]=Display of ways to end session
Comment[ar]=Display of ways to end session
Comment[bg]=Display of ways to end session
Comment[bn]=Display of ways to end session
Comment[ca]=Display of ways to end session
Comment[cs]=Display of ways to end session
Comment[da]=Display of ways to end session
Comment[de]=Display of ways to end session
Comment[el]=Display of ways to end session
Comment[es]=Display of ways to end session
Comment[et]=Display of ways to end session
Comment[eu]=Display of ways to end session
Comment[fa]=Display of ways to end session
Comment[fil_PH]=Display of ways to end session
Comment[fi]=Display of ways to end session
Comment[fr]=Display of ways to end session
Comment[he_IL]=Display of ways to end session
Comment[hi]=Display of ways to end session
Comment[hr]=Display of ways to end session
Comment[hu]=Display of ways to end session
Comment[id]=Display of ways to end session
Comment[is]=Display of ways to end session
Comment[it]=Display of ways to end session
Comment[ja]=Display of ways to end session
Comment[kk]=Display of ways to end session
Comment[ko]=Display of ways to end session
Comment[lt]=Display of ways to end session
Comment[mk]=Display of ways to end session
Comment[mr]=Display of ways to end session
Comment[nb]=Display of ways to end session
Comment[nl]=Display of ways to end session
Comment[pl]=Display of ways to end session
Comment[pt_BR]=Display of ways to end session
Comment[pt]=Display of ways to end session
Comment[ro]=Display of ways to end session
Comment[ru]=Display of ways to end session
Comment[sk]=Display of ways to end session
Comment[sl]=Display of ways to end session
Comment[sq]=Display of ways to end session
Comment[sr]=Display of ways to end session
Comment[sv]=Display of ways to end session
Comment[tr]=Display of ways to end session
Comment[uk]=Display of ways to end session
Comment[vi]=Display of ways to end session
Comment[zh_CN]=Display of ways to end session
Comment[zh_TW]=Display of ways to end session
Exec=exit-options
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/24x24/apps/system-shutdown.svg
NotShowIn=XFCE;KDE;GNOME;MATE;
Categories=Accessories; 
NoDisplay=false
