Source: mx-fluxbox
Section: system
Priority: optional
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: https://mxlinux.org

Package: mx-fluxbox-data
Conflicts: mx-fluxbox-data
Depends: mx-desktop-menu-l10n
Provides: mx-fluxbox-data
Replaces: mx-fluxbox (<< 20.06.02)
Architecture: all
Description: mx apps and configuration defaults for fluxbox

Package: mx-fluxbox
Breaks: mx-fluxbox (<< 20.06.02)
Conflicts: mx-fluxbox (<< 20.06.02)
Depends: mx-fluxbox-data (= ${source:Version}), fluxbox, mx-idesktool, wmalauncher, gkrellm, mx-dockmaker, mxfb-docs, rofi, rofi-calc, tint2, grsync, exit-options, mxfb-accessories, mx-rofi-manager, preview-mx, xfonts-terminus
Architecture: all
Description: mx apps and configuration defaults for fluxbox (metapackage)
